## Exploring the data

In [1]:
import numpy as np
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import warnings

In [2]:
from sklearn.datasets import load_boston

In [3]:
## Avoid printing out warnings
with warnings.catch_warnings():
     warnings.filterwarnings("ignore")
     #X, y = load_boston(return_X_y=True)
     boston = load_boston()

In [4]:
#extracting the data in a dataframe for readability
df_boston = pd.DataFrame(boston.data, columns=boston.feature_names)

In [5]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [6]:
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
df_boston['PRICE'] = boston.target

In [8]:
df_boston.head()  #after adding the price label to the target

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [10]:
df_boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

Based on the information below we can tell that there no non-empty cells, thus, we  don't need to pre-process the data

In [9]:
df_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [ ]:
#histograms of the dataset?
#Do we take off the features that don't correlate with the target?

## Linear Regression Model

### Splitting Data: Training and Test Sets

In [142]:
X = df_boston.drop('PRICE', axis = 'columns') #independent variables
y = df_boston['PRICE']  #dependent variable

In [143]:
# appending ones to the matrix of independendent variable
X = np.append(arr = np.ones([X.shape[0], 1]).astype(int), values = X, axis= 1)
X.shape

(506, 14)

In [12]:
from sklearn.model_selection import KFold

kfold_value = 5
kfold = KFold(n_splits = kfold_value)

In [ ]:
#What metric should we use to estimate the performance of our linear regression model?
 
#loss {train, validation, test}, accuracy {train, validation, test},
#confusion matrix, precision, recall, f1 score, etc. 
#Many to choose from but check the lab manual for specifics requested per question.


#find error - then square it - then mean 
#yhat = theta * independentvariabel
#np.matmul // np.dot(does the same thing upto 2 dimension)
#scale th data - preprocessing

### *Closed form solution*

In [13]:
def normal_equation(X, y):
    theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
    return theta

def predict_y(X, theta):
    return np.dot(X,theta)

In [14]:
mse_train_arr = []
mse_test_arr = []
for train, test in kfold.split(X):
    X_train, X_test = X[train], X[test]
    y_train, y_test = y[train], y[test]
    
    theta = normal_equation(X_train, y_train)
    
    y_train_pred = predict_y(X_train,theta)
    mse_train = (sum((y_train_pred - y_train)**2)/len(y_train))
    mse_train_arr.append(mse_train)
    
    y_test_pred = predict_y(X_test,theta)
    mse_test = (sum((y_test_pred - y_test)**2)/len(y_test))
    mse_test_arr.append(mse_test)


avg_train = np.mean(mse_train_arr)
avg_test = np.mean(mse_test_arr)
print("Average training MSE:", avg_train)
print("Average testing MSE:", avg_test)

Average training MSE: 20.735084629886188
Average testing MSE: 37.131807467699446

### *Ridge Regression*

In [15]:
def ridge_regression_theta(X, y, alpha):
    I = np.identity(X.shape[1])
    I[0][0] = 0  
    theta = np.linalg.inv(X.T.dot(X) + alpha*I).dot(X.T).dot(y)
    return theta

In [27]:
alphas = np.logspace(1,7,num=13)

mse_rtrain_arr = []
mse_rtest_arr = []
for i in range(len(alphas)):    
        for train, test in kfold.split(X):
            X_train, X_test = X[train], X[test]
            y_train, y_test = y[train], y[test]

            theta = ridge_regression_theta(X_train, y_train, alphas[i])

            y_train_pred = predict_y(X_train,theta)
            mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(X_train))
            mse_rtrain_arr.append(mse_train)

            y_test_pred = predict_y(X_test,theta)
            #mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test) + (alphas[i]*np.dot(theta.T, theta))
            mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(X_test))
            mse_rtest_arr.append(mse_test)

        avg_train = np.mean(mse_rtrain_arr)
        avg_test = np.mean(mse_rtest_arr)
        
        print("For alpha =", alphas[i], "MSE train =", avg_train, "and MSE test =", avg_test, "\n")

For alpha = 10.0 MSE train = 4.63254342637088 and MSE test = 5.518166280868784

For alpha = 31.622776601683793 MSE train = 4.660283682305299 and MSE test = 5.467538413292376

For alpha = 100.0 MSE train = 4.712657472293112 and MSE test = 5.421555485018982

For alpha = 316.22776601683796 MSE train = 4.790315495620764 and MSE test = 5.411757151120624

For alpha = 1000.0 MSE train = 4.886169923351052 and MSE test = 5.449089562231929

For alpha = 3162.2776601683795 MSE train = 5.005535473927995 and MSE test = 5.531477262019079

For alpha = 10000.0 MSE train = 5.16620546159834 and MSE test = 5.659845311241812

For alpha = 31622.776601683792 MSE train = 5.372728888473828 and MSE test = 5.833593681734877

For alpha = 100000.0 MSE train = 5.590885982336834 and MSE test = 6.021637686913811

For alpha = 316227.7660168379 MSE train = 5.793998417921919 and MSE test = 6.199598495817027

For alpha = 1000000.0 MSE train = 5.976418820635239 and MSE test = 6.363623555993796

For alpha = 3162277.6601683795 MSE train = 6.140476657958475 and MSE test = 6.519782972294018

For alpha = 10000000.0 MSE train = 6.297539769492749 and MSE test = 6.680062676329957

In [28]:
alpha = alphas[2]

mse_rigde_train = []
mse_rigde_test = []
  
for train, test in kfold.split(X):
    X_train, X_test = X[train], X[test]
    y_train, y_test = y[train], y[test]

    theta = ridge_regression_theta(X_train, y_train, alpha)

    y_train_pred = predict_y(X_train,theta)
    mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
    mse_rigde_train.append(mse_train)

    y_test_pred = predict_y(X_test,theta)
    mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
    mse_rigde_test.append(mse_test)

avg_train = np.mean(mse_rigde_train)
avg_test = np.mean(mse_rigde_test)
print("For alpha =", alpha, "MSE train =", avg_train, "and MSE test =", avg_test, "\n")

For alpha = 100.0 MSE train = 4.817405052268734 and MSE test = 5.329589628472194

### *Polynomial Transformation*

In [29]:
from sklearn.preprocessing import PolynomialFeatures

In [30]:
X_new = df_boston.drop('PRICE', axis = 'columns') #independent variables - doing again to remove the bias term
polynomial_converter = PolynomialFeatures(degree=2)

In [31]:
poly_features = polynomial_converter.fit_transform(X_new)

In [32]:
poly_features.shape

(506, 105)

In [33]:
kfold_value2 = 10
kfold2 = KFold(n_splits = kfold_value2)

In [115]:
mse_train_poly = []
mse_test_poly = []
for i in range(len(alphas)):    
        for train, test in kfold2.split(poly_features):
            X_train, X_test = poly_features[train], poly_features[test]
            y_train, y_test = y[train], y[test]

            theta = ridge_regression_theta(X_train, y_train, alphas[i])

            y_train_pred = predict_y(X_train,theta)
            mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
            mse_train_poly.append(mse_train)

            y_test_pred = predict_y(X_test,theta)
            mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
            mse_test_poly.append(mse_test)

        avg_train = np.mean(mse_train_poly)
        avg_test = np.mean(mse_test_poly)
        
        print("For alpha =", alphas[i], "MSE train =", avg_train, "and MSE test =", avg_test, "\n")

For alpha = 10.0 MSE train = 2.559261364639217 and MSE test = 6.249083656434478

For alpha = 31.622776601683793 MSE train = 2.5999282954046663 and MSE test = 6.262200614378964

For alpha = 100.0 MSE train = 2.6419784656587413 and MSE test = 6.308673099080007

For alpha = 316.22776601683796 MSE train = 2.682513763168582 and MSE test = 6.3648799557806806

For alpha = 1000.0 MSE train = 2.723525020955895 and MSE test = 6.392827172077984

For alpha = 3162.2776601683795 MSE train = 2.7669402266765752 and MSE test = 6.382719705351222

For alpha = 10000.0 MSE train = 2.811273369978179 and MSE test = 6.346089900241313

For alpha = 31622.776601683792 MSE train = 2.856065832263635 and MSE test = 6.29316916370869

For alpha = 100000.0 MSE train = 2.902335508632548 and MSE test = 6.222685349042283

For alpha = 316227.7660168379 MSE train = 2.950551785361065 and MSE test = 6.12369377720346

For alpha = 1000000.0 MSE train = 3.006223592036053 and MSE test = 5.995893059839103

For alpha = 3162277.6601683795 MSE train = 3.0804157011371274 and MSE test = 5.88598245512108

For alpha = 10000000.0 MSE train = 3.1769642028306504 and MSE test = 5.835792486060784

In [118]:
alpha_poly = 10000000

mse_rtrain_poly = []
mse_rtest_poly = []
  
for train, test in kfold2.split(X):
    X_train, X_test = poly_features[train], poly_features[test]
    y_train, y_test = y[train], y[test]

    theta = ridge_regression_theta(X_train, y_train, alpha_poly)

    y_train_pred = predict_y(X_train,theta)
    mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
    mse_rtrain_poly.append(mse_train)

    y_test_pred = predict_y(X_test,theta)
    mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
    mse_rtest_poly.append(mse_test)

avg_train = np.mean(mse_rtrain_poly)
avg_test = np.mean(mse_rtest_poly)
print("For alpha =", alpha, "MSE train =", avg_train, "and MSE test =", avg_test, "\n")

For alpha = 100.0 MSE train = 4.335546223152926 and MSE test = 5.233512857337233

### *Gradient Descent*

In [173]:
from sklearn.preprocessing import StandardScaler
X_wb = df_boston.drop('PRICE', axis = 'columns') #independent variables - doing again to remove the bias term

X_wb = X_wb.to_numpy()

In [174]:
#gradient descent function
def gd_theta(X, y, theta, lrate, n_iter):
    for i in range(n_iter):
        gradient = (2/len(X))*(X.T.dot(X.dot(theta) - y))
        #print(gradient)
        theta = theta - lrate*gradient
    return theta

In [176]:
mse_gd_train = []
mse_gd_test = []


for train, test in kfold.split(X_wb):
    X_train, X_test = X_wb[train], X_wb[test]
    y_train, y_test = y[train], y[test]
    
    #Initiliazing the parameters
    learning_rate = 0.1
    n_iterations = 1000
    
    
    sc = StandardScaler()
    X_tr_transform = sc.fit_transform(X_train)
    X_tr_transform = np.append(arr = np.ones([X_tr_transform.shape[0], 1]).astype(int), values = X_tr_transform, axis= 1)
    
    initial_theta = np.random.randn(X_tr_transform.shape[1]) 
    theta = gd_theta(X_tr_transform , y_train, initial_theta, learning_rate, n_iterations)

    y_train_pred = predict_y(X_tr_transform ,theta)
    mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
    mse_gd_train.append(mse_train)
   
    
    X_t_transform = sc.transform(X_test)
    X_t_transform = np.append(arr = np.ones([X_t_transform.shape[0], 1]).astype(int), values = X_t_transform, axis= 1)

    y_test_pred = predict_y(X_t_transform,theta)
    mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
    mse_gd_test.append(mse_test)

avg_train_gd = np.mean(mse_gd_train)
avg_test_gd = np.mean(mse_gd_test)
print("MSE train =", avg_train_gd, "and MSE test =", avg_test_gd, "\n")

MSE train = 4.528110235652584 and MSE test = 5.828664402055861

### *Gradient Descent with Ridge Regularization*

In [180]:
#ridge gradient
def ridge_gradient(X, y, y_pred, theta, alpha):
    ridge_gr = -(2/len(y)) * X.T.dot(y - y_pred) + alpha*theta    #do we iterate this with all the lambas?
    return ridge_gr

#gradient descent function with ridge gradient
def gd_ridge_theta(X, y, theta, lrate, n_iter):
    for i in range(n_iter):
        y_predicted = predict_y(X, theta)     #should this be here?
        gradient = ridge_gradient(X, y, y_predicted, theta, 0.0001)
        theta = theta - lrate*gradient
    return theta

In [182]:
mse_gdr_train = []
mse_gdr_test = []


for train, test in kfold.split(X_wb):
    X_train, X_test = X_wb[train], X_wb[test]
    y_train, y_test = y[train], y[test]
    
    #Initiliazing the parameters
    learning_rate = 0.1
    n_iterations = 1000
    
    sc = StandardScaler()
    X_tr_transform = sc.fit_transform(X_train)
    X_tr_transform = np.append(arr = np.ones([X_tr_transform.shape[0], 1]).astype(int), values = X_tr_transform, axis= 1)
    
    initial_theta = np.random.randn(X_tr_transform.shape[1]) 
    theta = gd_ridge_theta(X_tr_transform , y_train, initial_theta, learning_rate, n_iterations)

    y_train_pred = predict_y(X_tr_transform ,theta)
    mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
    mse_gdr_train.append(mse_train)
    
    
    X_t_transform = sc.transform(X_test)
    X_t_transform = np.append(arr = np.ones([X_t_transform.shape[0], 1]).astype(int), values = X_t_transform, axis= 1)

    y_test_pred = predict_y(X_t_transform,theta)
    mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
    mse_gdr_test.append(mse_test)
    

avg_train_gdr = np.mean(mse_gdr_train)
avg_test_gdr = np.mean(mse_gdr_test)
print("MSE train =", avg_train_gdr, "and MSE test =", avg_test_gdr, "\n")

MSE train = 4.5281104585981 and MSE test = 5.828224484248052

### *Gradient Descent with Lasso Regression*

In [183]:
#lasso gradient
def lasso_gradient(X, y, y_pred, theta):
    lasso_gr = -(2/len(y)) * X.T.dot(y - y_pred) + np.sign(theta)   
    return lasso_gr

#gradient descent function with lasso gradient
def gd_lasso_theta(X, y, theta, lrate, n_iter):
    for i in range(n_iter):
        y_predicted = predict_y(X, theta)     #should this be here?
        gradient = lasso_gradient(X, y, y_predicted, theta)
        theta = theta - lrate*gradient
    return theta

In [184]:
mse_gdl_train = []
mse_gdl_test = []


for train, test in kfold.split(X_wb):
    X_train, X_test = X_wb[train], X_wb[test]
    y_train, y_test = y[train], y[test]
    
    #Initiliazing the parameters
    learning_rate = 0.1
    n_iterations = 1000
    
    sc = StandardScaler()
    X_tr_transform = sc.fit_transform(X_train)
    X_tr_transform = np.append(arr = np.ones([X_tr_transform.shape[0], 1]).astype(int), values = X_tr_transform, axis= 1)
    
    initial_theta = np.random.randn(X_tr_transform.shape[1]) 
    theta = gd_lasso_theta(X_tr_transform , y_train, initial_theta, learning_rate, n_iterations)

    y_train_pred = predict_y(X_tr_transform ,theta)
    mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
    mse_gdl_train.append(mse_train)
    
    X_t_transform = sc.transform(X_test)
    X_t_transform = np.append(arr = np.ones([X_t_transform.shape[0], 1]).astype(int), values = X_t_transform, axis= 1)

    y_test_pred = predict_y(X_t_transform,theta)
    mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
    mse_gdl_test.append(mse_test)
    

avg_train_gdl = np.mean(mse_gdr_train)
avg_test_gdl = np.mean(mse_gdr_test)
print("MSE train =", avg_train_gdr, "and MSE test =", avg_test_gdr, "\n")

MSE train = 4.5281104585981 and MSE test = 5.828224484248052

### *Gradient Descent with Elastic Net*

In [ ]:
#ridge gradient
def elastic_gradient(X, y, y_pred, theta, alpha):
    elastic_gd = -(2/len(y)) * X.T.dot(y - y_pred)  
    return elastic_gd

#gradient descent function with ridge gradient
def gd_elastic_theta(X, y, theta, lrate, n_iter):
    for i in range(n_iter):
        y_predicted = predict_y(X, theta
        gradient = elastic_gradient(X, y, y_predicted, theta, 0.0001)
        theta = theta - lrate*gradient
    return theta

In [ ]:
mse_gde_train = []
mse_gde_test = []


for train, test in kfold.split(X_wb):
    X_train, X_test = X_wb[train], X_wb[test]
    y_train, y_test = y[train], y[test]
    
    #Initiliazing the parameters
    learning_rate = 0.1
    n_iterations = 1000
    initial_theta = np.random.randn(X.shape[1]) 
    
    sc = StandardScaler()
    X_tr_transform = sc.fit_transform(X_train)
    X_tr_transform = np.append(arr = np.ones([X_tr_transform.shape[0], 1]).astype(int), values = X_tr_transform, axis= 1)
    
    theta = gd_theta(X_tr_transform , y_train, initial_theta, learning_rate, n_iterations)

    y_train_pred = predict_y(X_tr_transform ,theta)
    mse_train = np.sqrt(sum((y_train_pred - y_train)**2)/len(y_train))
    mse_gdl_train.append(mse_train)
    
    
    X_t_transform = sc.transform(X_test)
    X_t_transform = np.append(arr = np.ones([X_t_transform.shape[0], 1]).astype(int), values = X_t_transform, axis= 1)

    y_test_pred = predict_y(X_t_transform,theta)
    mse_test = np.sqrt(sum((y_test_pred - y_test)**2)/len(y_test))
    mse_gdl_test.append(mse_test)
    

avg_train_gdl = np.mean(mse_gdr_train)
avg_test_gdl = np.mean(mse_gdr_test)
print("MSE train =", avg_train_gdr, "and MSE test =", avg_test_gdr, "\n")

### Which model will I choose and why?

for all the models you've created so far, which one performed best and why did it perform best. What made it perform better than the others. What were it's parameters. Why would you choose it over the others.

## Lab Notes

In [ ]:
#ROC curve -> AUC curve


#going over logistic regression

## Logistic Regression

In [32]:
from sklearn.datasets import load_breast_cancer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#logistic - likelihood (gradient ascent), negative likelihood (gradient descent)

In [ ]:
#xplore the data

In the assignment, you will use gradient ascent to find the weights for the
logistic regression problem and apply it to the dataset.

In [ ]:
#initial hyperparameters
thr = 0.5      #threshold
lr = 0.5       #learning rate
n_iters = 5000  #number of iterations

In [ ]:
#for the test dataset, determine the:
# Precision
# Recall
# F1 Score
# Confusion Matrix

6. Plot the value of the log-likelihood (the objective function) on every 100th iteration of your gradient ascent, with the iteration number on the horizontal axis and the objective value on the vertical axis

7. Use the test set as a validation set and see if you can find a better setting of the hyperparameters. Report the best values you found.